.padding15G{
    padding: 15px;
}
.margin0G{
    margin: 0px !important;
}
.AppDataOneG{
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    /* padding: 10px; */
    height: 100px;
    background-color: #000;
    box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.17);
}
.AppNameG{
    color: white;
    word-break: break-word;
    font-size: 13.5px;
    padding: 10px;
    font-weight: 700;
}
.AppStreamG{
    text-align: start;
    word-break: break-word;
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 30px;
}

.StreamNameDivG{
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    height: 50px;
    box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.17);
}