.kpi{
    height: 120px;
    // background: yellow;
}
.salesButton{
    height: 40px;
    // background-color: yellowgreen;
}
.salesCharts{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.15);
    height: 300px;
    padding: 10px;
}

.mtop{
    margin-top: 20px;
}

.filterName{
    height: 35px;
}
.pl7{
    padding-left: 7px !important;
}
.pr7{
    padding-right: 7px !important;
}

.qv-state-count-bar.ng-scope.ng-isolate-scope, .qv-collapsed-listbox.ng-scope.ng-isolate-scope.interactive{
    border:1px solid #ccc !important;
}
#kpi19{
    height: 80px;
}

.w-20{
    width: 20% !important;
}
.w-20Title{
    width: 20% !important;
}
.p15{
    padding-left: 15px;
    padding-right: 15px;
}
.w-10{
    width: 7% !important;
}
.w-40{
    width: 40% !important;
}

.filterDiv{
    float: right;
}

@media only screen and (max-width: 600px) {
    .w-20{
        width: 100% !important;
    }
    .w-10{
        width: 20% !important;
    }
    .w-20Title{
        width: 75% !important;
    }
    .w-40{
        width: 100% !important;
    }
    .pr7 {
        padding-right: 15px !important;
    }
    .pl7 {
        padding-left: 15px !important;
    }
  }

  .qv-collapsed-listbox .title-wrapper{
    background-color: white;
  }

    .qv-filterpane.qv-filterpane-scrollable{
      overflow: unset !important;
  }

  .qs-side-bar.open{
      right: 0;
      left: unset !important;
  }
  .qs-side-bar{
      top:50px !important;
      right: -396px;
      left: unset !important;
  }