.app-page-container .app-content-wrapper{
   background-color: #fff !important;
    // background-repeat: no-repeat;
    // background-position: right;
    // background-position-y: 0;
    // background-image: url(../../../assets/images/background.png);
    // background-color: #013741;
}
