// /////////////////////////////////////////////////////////////////////
// Custom CSS
// /////////////////////////////////////////////////////////////////////

.info-icon-class {
    position: relative !important;
    top: 26px;
    right: 14px;
    margin-top: -16px !important;
}

.strd-header {
    font-size: 10px;
    font-family: Segoe UI Semibold;
    font-weight: bold;
    color: rgb(34, 45, 92);
}


.selection-bar {
    height: "40px";
    margin-left: "-30px";
}

.top-fixed {
    position: fixed;
    // z-index: 1000 !important;
    display: block;
    width: 100%;
    background: #fff;
    margin-top: -30px;
    top: 90px;
}

.kpi-pads {
    padding: 14px;
    background: white;
    border: 1px #F0F3F6 solid;
    border-bottom: solid transparent 0px;
    border-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.15);
}


.selection-pads {
    padding: 0px 14px 10px 14px;
}


.no-margin-right-left {
    margin-left: 0px;
    margin-right: 0px;
}

.height-35 {
    height: 35px;
}

.height-50 {
    height: 50px;
}

.height-500 {
    height: 500px;
}

#totalsales_qv02 {
    text-align: center;
}

.top-margin {
    margin-top: 14vh;
}