.fblogin {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  border-width: calc-responsive(1, 468, 2, 1920);
  border-style: solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: calc-responsive(14, 468, 18, 1920);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #4c69ba;
  border-color: #4c69ba;
  padding: calc-responsive(15, 468, 20, 1920) calc-responsive(20, 468, 25, 1920);
}

/* side-menu */
.app-sidebar .nav ul ul li>a {
  padding-left: 34px !important;
}

.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #ccc;
  white-space: nowrap;
  font-family: sans-serif;
  background: #fff;
  color: #333;
  border-radius: 5px;
  padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all 0.3s ease;
  user-select: none;
  font-family: IrisCircular-medium !important;
}

.custom-menu li:hover {
  background-color: #def;
}

.loaderexport {
  border: 16px solid #3498db;
  border-radius: 50%;
  border-top: 16px solid #f3f3f3;
  /*border-bottom: 16px solid #3498db;*/
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 40%;
  left: 45%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1111;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  /*  background-color: rgb(0,0,0); /* Fallback color */
  /*  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  background: rgba(255, 255, 255, 0.5);
}

@page {
  size: auto;
  /* auto is the initial value */
  margin: 0;
  /* this affects the margin in the printer settings */
}

.textbox h7 {
  font-family: IrisCircular-medium !important;
  color: #282828 !important;
}

.textbox li {
  font-family: IrisCircular-medium !important;
  color: #282828 !important;
}

html {
  height: 100%;
}

and body {
  min-height: 100%;
}


.qv-object-title-text {
  overflow: visible !important;
}

h1 {
  letter-spacing: 0px !important;
}

/* .app-header .header-btn ::before{
color: grey !important;
} */
/* .header-btn :active{
color: blue !important;
} 
.header-btn :focus{
color: green !important;
} */
/* .header-btn :visited{
color: red !important;
} */

.material-icons.md-dark {
  /* { color: rgba(0, 0, 0, 0.54) !important;
color: rgba(0, 0, 0, 0.54);  */
  position: absolute;
  float: right;
  margin-top: 10px;
  opacity: 0.6;
  z-index: 0;
}

/* .material-icons.md-dark.md-inactive { 
color: rgba(0, 0, 0, 0.26) !important;
color: rgba(0, 0, 0, 0.26);
} */

.headlines_text {
  font-size: 14px;
  line-height: 1.8;
  padding-left: 14px;
  padding-top: 5px;
}

.qv-object-SimpleFieldSelect div.qv-object-content-container {
  position: inherit !important;
}

.ui.multiple.search.dropdown {
  margin-bottom: 8px;
}

.dropdownForFilters a {
  font-family: "IrisCircular-medium";
  font-size: 13px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdownListForFilters div div {
  font-family: "IrisCircular-medium";
}

.filter-apply-button {
  background: #d9d9d9;
  border-radius: 4px;
}

.filter-apply-button:hover {
  box-shadow: 1px 1px 3px 0px #b3b3b3;
}

.bkmarkmodel {
  display: none;
  width: 200vh;
  /* height: 255px; */
  max-width: 50%;
  margin: 0 auto;
  position: fixed;
  left: 52%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1050;
  overflow: visible;
  background-color: #fff;
  padding: 10px 20px 40px;
  border-radius: 8px;
  /* display: flex; */
  flex-direction: column;
}

.btnexportpdf {
  border-radius: 4px;
  padding: 6px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: IrisCircular-medium !important;
  /* margin-left: 4%; */
  border: none;
}

.btnbookmark {
  border-radius: 4px;
  padding: 6px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: IrisCircular-medium !important;
  /* margin-left: 4%; */
  border: none;
}

.btnbookmark:hover {
  box-shadow: 0px 2px 2px #595959;
}

.btnexportpdf:hover {
  box-shadow: 0px 2px 2px #595959;
}

.mclass li {
  width: 90% !important;
  /* height: 40px!important; */
  margin-top: 4px !important;
  padding: 8px;
  border-bottom: 1px solid #f0f3f6;
}

.mclass li:hover {
  /* box-shadow: 1px 1px 1px #595959; */
  background-color: #f8f9fa;
}

.textbox {
  font-family: IrisCircular-medium !important;
  font-size: 14px;
  ;
  color: #282828;
}

.modelbutton {
  text-align: center;
  padding-top: 10px;
}

hr {
  margin-top: 2px !important;
}

.newbookmark {
  font-weight: 700;
}

.disabledValue {
  background-color: lightgray;
}

.disabledValue:hover {
  background-color: gray;
}

.loader {
  position: fixed;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #db3450;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 30%;
  animation: spin 2s linear infinite;
  display: none;
  z-index: 21;
}

.loaderFullBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  filter: alpha(opacity=50);
  background: black;
  z-index: 20;
  display: none;
}

.top-nav-right li {
  height: auto !important;
}

.ql-editor {
  line-height: 1.8 !important;
  display: contents !important;
}

.rq {
  color: #ff0000;
  font-size: 10pt;
  font-family: IrisCircular-medium !important;
}

input {
  margin: 0px !important;
}

.textfield {
  font-family: IrisCircular-medium !important;
}

.delexistbookmark {
  display: none;
  width: 200vh;
  /* height: 255px; */
  max-width: 30%;
  margin: 0 auto;
  position: fixed;
  left: 52%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1050;
  overflow: visible;
  background-color: #fff;
  padding: 10px 20px 40px;
  border-radius: 8px;
  /* display: flex; */
  flex-direction: column;
  font-family: IrisCircular-medium !important;
}

.pgsize {
  width: 45% !important;
}

.btnpdf {
  display: none;
  width: 200vh;
  /* height: 255px; */
  max-width: 28%;
  margin: 0 auto;
  position: fixed;
  left: 52%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1050;
  overflow: visible;
  background-color: #fff;
  padding: 10px 20px 40px;
  border-radius: 8px;
  /* display: flex; */
  flex-direction: column;
  font-family: IrisCircular-medium !important;
}

#delbookmarkid {
  font-family: IrisCircular-medium !important;
}

.delbookmark {
  margin-top: 6px !important;
  padding: 3px !important;
  font-size: 20px !important;
  border-bottom: 1px solid #f0f3f6 !important;
}

.btnfilter {
  background-color: #f05551;
  border: none;
  color: white;
  /* padding: 0px 8px;  */
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  width: 50px;
  border-radius: 8px;
}

.btncheckfilter {
  background-color: #009845;
  border: none;
  color: white;
  /* padding: 0px 8px;  */
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  width: 50px;
  border-radius: 8px;
}

.btnfilter:hover {
  background-color: grey;
}

.btncheckfilter:hover {
  background-color: grey;
}

.ui.sub.header {
  height: 46px;
}

.sel-confirmbtn {
  float: left;
  margin-right: 4px;
}

.sel-cancelbtn {
  float: right;
}

.buttonspan {
  display: none;
  float: right;
  width: 45%;
}

.selectionfltrbtn {
  display: block;
}

.radbtn {
  font-family: IrisCircular-medium !important;
  font-size: 14px;
  color: #282828;
}

.switchfield {
  font-family: IrisCircular-medium !important;
  font-size: 14px !important;
  color: #282828 !important;
}


.switch-field {
  display: flex;

  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  font-family: IrisCircular-medium !important;
}

.switch-field label {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  font-family: IrisCircular-medium !important;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: #8f9397;
  box-shadow: none;
  font-family: IrisCircular-medium !important;
  color: white;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.ui.search .text {
  font-family: IrisCircular-medium !important;
}

/* .nav-collapsed .app-sidebar .prepend-icon{
  display:none;
} */


/* Filters Style */
.video_dur.slider_list .qv-object-variable input[type=range] {
  left: 0 !important;
}


.video_dur.slider_list .qv-object-variable .qlik .rangelabel {
  margin-top: -17px !important;
}



.qv-object .qv-object-title .qv-object-title-text {
  font-size: 10px !important;
  font-family: Segoe UI Semibold !important;
  font-weight: 700 !important;
  color: #222d5c !important;
}