#myloader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.7);
}

.custom-loader {
    margin: 20% 48%;
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    z-index: 200;
}

.custom-loader>div {
    background-color: rgb(6, 98, 147);;
    height: 100%;
    width: 8px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.custom-loader .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.custom-loader .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.custom-loader .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.custom-loader .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


/* Loader Title */

#loader-title {
    text-align: center;
    font-size: 18px;
    color: #066293;
    height: 10%;
    background: #0f1113;
    padding-top: 0.5%;
    opacity: 0.7;
}