/*
                                     _
                                    (_)
              |    .
          .   |L  /|   .          _
      _ . |\ _| \--+._/| .       (_)
     / ||\| Y J  )   / |/| ./
    J  |)'( |        ` F`.'/        _
  -<|  F         __     .-<        (_)
    | /       .-'. `.  /-. L___       
    J \      <    \  | | O\|.-'  _   
  _J \  .-    \/ O | | \  |F    (_) 
 '-F  -<_.     \   .-'  `-' L__    
__J  _   _.     >-'  )._.   |-'  
`-|.'   /_.           \_|   F    
  /.-   .                _.<     
 /'    /.'             .'  `\    
  /L  /'   |/      _.-'-\
 /'J       ___.---'\|
   |\  .--' V  | `. `
   |/`. `-.     `._)
      / .-.\
	  \ (  `\ Piers was here!
       `.\
	   
	   
	   
	   
ALMOST BLACK 	#282828
ALMOST WHITE 	#F0F3F6
ALMOST PINK 	#FDBEC8
IN VIEW BLUE 	#1E88E5
ATOMIC CORAL	#F93958


/*     ___  _    ___ _  __  ___ ___ _    ___ ___ _____ ___ ___  _  _    ___ ___  _    ___  _   _ ___  ___ 
//    / _ \| |  |_ _| |/ / / __| __| |  | __/ __|_   _|_ _/ _ \| \| |  / __/ _ \| |  / _ \| | | | _ \/ __|
//   | (_) | |__ | || ' <  \__ \ _|| |__| _| (__  | |  | | (_) | .` | | (_| (_) | |_| (_) | |_| |   /\__ \
//    \__\_\____|___|_|\_\ |___/___|____|___\___| |_| |___\___/|_|\_|  \___\___/|____\___/ \___/|_|_\|___/
*/                                                                                                        

/*SELECTED*/
.selected {    background-color: #1E88E5!important; border-color: #1E88E5 !important;}
.serverSelected{    background-color: #1E88E5!important; border-color: #1E88E5 !important;}

/*Other States*/
.state.optional{    background-color: white !important; border: #F0F3F6 0.1px solid;}

/*Not SELECTABLE*/
div.qv-state-count-bar.ng-scope.ng-isolate-scope{ background-color: #727272 !important;}





/*     ___  _    ___ _  __
//    / _ \| |  |_ _| |/ /
//   | (_) | |__ | || ' < 
//    \__\_\____|___|_|\_\
*/                        

/*--- Global Styles*/
.ng-scope {font-family: IrisCircular-Light;} /*All Qlik fonts replaced*/
.qvt-sheet { background: #ffffff !important; }
.app-title.ng-binding  {font-family: IrisCircular-BlackItalic; } /*App name*/
.sheet-title-text {font-family: IrisCircular-BlackItalic;} /*Sheet name*/
.popover-container .ng-binding.ng-scope {    font-family: IrisCircular-BlackItalic;}/*Sheet name (in menu)*/
.ng-scope.lui-button--toolbar .ng-binding { font-family: IrisCircular-BlackItalic; }
.dt-span {    font-size: 19px; font-family: IrisCircular-BlackItalic; color: #F0F3F6;}

/*--- Table Headers*/
.left .ng-binding {font-family: IrisCircular-medium;}
.top .ng-binding {font-family: IrisCircular-medium;}
table th {            background-color: #F0F3F6!important; color: #282828;  }
.qv-st-header-cell-search {     border-left: #F0F3F6 0px !important;}

/*--- Chart Title */
.qv-object .qv-object-title .qv-object-title-text , .qv-inline-edit-value	, .vl-title  {    font-family: IrisCircular-Medium, sans-serif; font-weight: normal !important;     color: #282828;    font-size: 14px;}  /* OBJ TITLE*/
.qv-viz-disclaimer .ng-binding 	,.qvt-visualization-footnote 					{font-family: IrisCircular-Medium !important; font-weight: 100 !important;   }  /* footnote font italic*/

/*--- Chart sub title */
.qv-object .qv-object-footnote, .qv-object .qv-object-subtitle {	font-family: IrisCircular-Light,sans-serif !important;	max-height: 5.8em !important; } /* increases max number of lines shown for subtitle*/
.qv-discrete-color-legend .dcl-flex .text {font-family: IrisCircular-medium;}
.dcl-title-inner {font-family: IrisCircular-medium;}


/*--- Chart Axis Labels */
.qva-chart-data-title .qva-chart-data-title-wrapper .chart-data-title .chart-data-title-label {	font-family: IrisCircular-Light,sans-serif !important;}

/*--- Current Selections */
.bright.qv-panel-current-selections  {font-family: IrisCircular-Light;}

/*--- Dropdowns / List Boxes */
.lui-select {    font-family: IrisCircular-light !important; font-weight: normal;}
.qv-collapsed-listbox .title-wrapper .title  {    font-family: IrisCircular-medium !important; font-weight: bold;}

/* MATERIALIZE FILTERS */
.qv-collapsed-listbox.ng-scope.ng-isolate-scope.interactivem, .qv-fullscreen-hidden .title-wrapper , .qv-listbox-popover.ng-scope.lui-popover  {    border: 1px #F0F3F6 solid; border-bottom:solid transparent 0px;  border-radius: 2px;   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
.qv-state-count-bar.ng-scope.ng-isolate-scope, .qv-collapsed-listbox.ng-scope.ng-isolate-scope.interactive{border: solid transparent 0px!important;}
.lui-button.lui-hovered, .lui-button {    border-color: #F0F3F6!important;}
.lui-button.lui-hovered, .lui-button:hover {    border-color: #d9d9d9 !important;}




/*----------------------------------------------------------------------*/

/*   __   _____ _____    ___ ___ 
//   \ \ / /_ _|_  / |  |_ _| _ )
//    \ V / | | / /| |__ | || _ \
//     \_/ |___/___|____|___|___/
*/                               

/*THE MAGIC CODE PULLER TOOL THING*/


/*---Vizlib Chart Axis*/
.top.axis text  {font-family: IrisCircular-Medium; font-color: #757575 !important;}
.linearAxis text{font-family: IrisCircular-light; font-color: #757575 !important;}
.scatter-content .y-axis text {font-family: IrisCircular-light; font-color: #757575 !important;}  
.scatter-content .x-axis text {font-family: IrisCircular-light; font-color: #757575 !important;}  
.qv-layout-small .totalslabel {font-family: IrisCircular-medium; font-color: #757575 !important;}
.tick text {font-family: IrisCircular-medium !important; font-style: normal !important; font-color: #757575 !important;}
.left text {font-family: IrisCircular-medium !important; font-style: normal !important; font-color: #757575 !important;}
.bottom text {font-family: IrisCircular-medium !important; font-style: normal !important; font-color: #757575 !important;}
.data text {font-family: IrisCircular-medium !important; font-style: normal !important; font-color: #757575 !important;}
.legend-item-label {font-family: IrisCircular-medium !important; font-style: normal !important; font-color: #757575 !important;}
.vzl-alt-noClickable.alt-title {font-family: IrisCircular-light !important; font-weight: bold !important;        font-color: #757575 !important;} /*sankey*/


/*---Vizlib Calendar*/
.lui-button.ng-binding {  border: 0px #F0F3F6 solid; border-bottom:solid transparent 0px;  border-radius: 0px;   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }


/*---Vizlib Container*/
.link-handler           {font-family: IrisCircular-medium;}
.nav-link               {font-family: IrisCircular-medium;}
.nav-item div           {font-family: IrisCircular-medium;}
i.lui-icon.lui-icon--bar-chart {padding-left: 0px; padding-right: 5px; padding-bottom: 5px}
i.lui-icon.lui-icon--line-chart {padding-left: 0px; padding-right: 5px; padding-bottom: 5px}


/*---Vizlib Pie*/
.qv-layout-medium .totalsvalue {font-family: IrisCircular-medium;}
.qv-layout-medium .totalslabel {font-family: IrisCircular-medium;}
radiallabels {font-family: IrisCircular-medium;}

/*---Vizlib Line*/
.qv-object-VizlibLineChart.qv-layout-medium text {font-family: IrisCircular-Medium;}


/*---Vizlib Axis Labels*/
.bottom .vzl-alt-noClickable {font-family: IrisCircular-light;}
.ng-isolate-scope.vertical .vzl-alt-noClickable {font-family: IrisCircular-light;}
.addittional-container .vzl-alt-noClickable {font-family: IrisCircular-light;}           


/* VIZLIB SELECTIONS*/
.checked .vl-list-item {
    background-color: #1E88E5 !important;
}
/* VIZLIB TABLE*/
/* .vzl-pivot-row-def-container vzl-pivot-dimensions-definition {    background-color: #F0F3F6 !important;} */
/* .analysis-mode {background-color: #F0F3F6 !important;} */

.with-alternative-modal .vzl-pivot-dimension-defintion {
    border: 1px #F0F3F6 solid !important; border-radius: 2px!important;   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
.vzl-pivot-row-def-container .vzl-pivot-dimension-defintion {
        border: 1px #F0F3F6 solid !important; border-radius: 2px!important;   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

}

/* VIZLIB STORY TIMELINE*/
h2.tl-headline{font-family: IrisCircular-blackitalic !important;     }

	
/*----------------------------------------------------------------------*/

/*    ___ ___  _  _ _____ ___ 
//   | __/ _ \| \| |_   _/ __|
//   | _| (_) | .` | | | \__ \
//   |_| \___/|_|\_| |_| |___/
(leave this please, I messed up the fonts and use all variations of family names)
seriously if you delete this all the fonts will break. it is a couple of extra lines of code. Chill.
*/                            





/* Adds in bold font to iris light family  */
@font-face {    font-family: "IrisCircular-Light";    src: url("/content/HOSTED/IrisCircular-Medium.woff") format("woff") ,"https://www.atom42.co.uk/wp-content/themes/atom42/fonts/IrisCircular-Light.woff") format("woff");    font-weight: bold;    font-style: normal;}

/* Adds in light font to iris medium family  */
 @font-face {    font-family: "IrisCircular-Medium";    src: url("/content/HOSTED/IrisCircular-Light.woff") format("woff") ,"https://www.atom42.co.uk/wp-content/themes/atom42/fonts/IrisCircular-Light.woff") format("woff");	font-weight: normal;    font-style: normal;}






/* IRIS FONTS FROM ATOM42*/
			 @font-face {    font-family: "IrisCircular-BlackItalic";    src: url("https://www.atom42.co.uk/wp-content/themes/atom42/fonts/IrisCircular-BlackItalic.woff2") format("woff2") ;                 font-weight: bold;      font-style: italic;}
			@font-face {    font-family: "IrisCircular-Light";          src: url("https://www.atom42.co.uk/wp-content/themes/atom42/fonts/IrisCircular-Light.woff2") format("woff2") ;          font-weight: normal;    font-style: normal;}
			@font-face {    font-family: "IrisCircular-Medium";         src: url("https://www.atom42.co.uk/wp-content/themes/atom42/fonts/IrisCircular-Light.woff2") format("woff2") ;          font-weight: normal;    font-style: normal;} 

/* @font-face {    font-family: "IrisCircular-Medium";         src: url("https://app.instantview.io/HOSTED/WEBFONTS/IrisCircular-Medium.woff2" ) format("woff2") ;          font-weight: bold;    font-style: normal;}  */

 /* @font-face {    font-family: "IrisCircular-BlackItalic";    src: url("https://app.instantview.io/HOSTED/WEBFONTS/IrisCircular-BlackItalic.woff2") format("woff2") ;                 font-weight: bold;      font-style: italic;} */
/* @font-face {    font-family: "IrisCircular-Light";          src: url("https://app.instantview.io/HOSTED/WEBFONTS/IrisCircular-Light.woff2") format("woff2") ;          font-weight: normal;    font-style: normal;} */
/* @font-face {    font-family: "IrisCircular-Medium";         src: url("https://app.instantview.io/HOSTED/WEBFONTS/IrisCircular-Medium.woff2") format("woff2") ;          font-weight: bold;    font-style: normal;}  */


 /* @font-face {    font-family: "IrisCircular-BlackItalic";    src: url("https://storage.googleapis.com/iv_files/Mashup/IrisCircular-BlackItalic.woff2") format("woff2") ;                 font-weight: bold;      font-style: italic;} */
/* @font-face {    font-family: "IrisCircular-Light";          src: url("https://storage.googleapis.com/iv_files/Mashup/IrisCircular-Light.woff2") format("woff2") ;          font-weight: normal;    font-style: normal;} */
/* @font-face {    font-family: "IrisCircular-Medium";         src: url("https://storage.googleapis.com/iv_files/Mashup/IrisCircular-Light.woff2") format("woff2") ;          font-weight: bold;    font-style: normal;}  */



/* @font-face {    font-family: "IrisCircular-Medium";         src: url("https://app.instantview.io/HOSTED/WEBFONTS/IrisCircular-Medium.woff2" ) format("woff2") ;          font-weight: bold;    font-style: normal;}  */



/* FONTS SPOOF ROBOTO */
/* @font-face {    font-family: "IrisCircular-BlackItalic";    src: url("https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2") format("woff2")  ;                 font-weight: bold;      font-style: italic;} 
 @font-face {    font-family: "IrisCircular-Light";          src: url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2") ;          font-weight: normal;    font-style: normal;} 
 @font-face {    font-family: "IrisCircular-Medium";         src: url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2") ;          font-weight: bold;    font-style: normal;} */







/*----------------------------------------------------------------------*/

/*Grid Explorer Extension*/
.qv-object-gridchart .axis text {
    font: 14px sans-serif;
    font-family: irisCircular-Medium !important;
    color: #595959!important;}

/*Fire comment extensions*/
.fireTh, .fireThLeft {
    height: 20px;
font-family: irisCircular-Medium !important;
  border-bottom: solid 1px #D9D9D9 !important;
 border: 0px #F0F3F6 solid; border-bottom:solid transparent 0px;  border-radius: 0px;   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

 
 /*PICFLIP Extension*/
 #cornerh1_0, #cornerh1_1, #cornerh1_2,  #cornerh1_3,  #cornerh1_4,  #cornerh1_5,  #cornerh1_6 {    font-size: 14px!important;}






/*    ___  __  __ ___    _____ _  _ ___ __  __ ___ 
//   |   \|  \/  |   \  |_   _| || | __|  \/  | __|
//   | |) | |\/| | |) |   | | | __ | _|| |\/| | _| 
//   |___/|_|  |_|___/    |_| |_||_|___|_|  |_|___|
//                                                 
/*----------------------------------------------------------------------*/
/* ATOMIC CORAL :F83958 */


.linear-background {    background: #F0F3F6 !important;     }
.app-title.ng-binding {    color:#282828!important;}
.lui-icon--more-rounded {color:#282828!important;   }
.lui-icon--settings {color:#282828!important;   }
.container-no-clientTabNavigation .lui-caret {color:#282828!important;   }
.lui-icon--compass {color:#282828!important;   }
.lui-icon--slide-show {color:#282828!important;   }
.ng-scope.lui-button--toolbar .lui-caret {color:#282828!important;   }
.lui-icon--edit.center {color:#282828!important;   }


.container-no-clientTabNavigation .lui-button--toolbar {background: #F0F3F6; border transparent 0px;}
.lui-icon--bookmark {color:#282828!important;   }
.ng-scope.lui-button .lui-button__text {color:#282828!important;   }
.popover-container .ng-binding.ng-scope {color:#282828!important;   }
.lui-icon--sheet.center {color:#282828!important;   }
.lui-buttongroup .ng-scope .lui-button--toolbar .lui-caret {color:#282828!important;   }
.lui-icon--previous {color:#282828!important;   }
.lui-icon--next {color:#282828!important;   }

.bright.qv-panel-current-selections { background: #F0F3F6 !important;  color:#282828!important;  border: none;    }





#insights-label {color:#282828!important;   }
.no-selection {background: #F0F3F6  !important;  color:#282828!important;   }
.qv-selections-pager {border: none;}
.qui-buttonset-right > .lui-buttongroup .ng-scope.lui-button--toolbar {background: #F0F3F6; border: #D9D9D9  solid 1px;     }
.popover-container .ng-scope.lui-button--toolbar {background: #F0F3F6 ; border: #D9D9D9  solid 1px;    }
.popover-container .ng-scope.lui-button--toolbar {background: #F0F3F6 ; border: #D9D9D9  solid 1px;    }
.lui-buttongroup .ng-scope .ng-isolate-scope {background: #F0F3F6 ; border: #D9D9D9  solid 1px;    }
.qn-previous-button {background: #F0F3F6 ; border: #D9D9D9  solid 1px;    }
.qn-next-button {background: #F0F3F6 ; border: #D9D9D9  solid 1px;   }
.container-no-clientTabNavigation .lui-button--toolbar {background: #F0F3F6 ; border: #D9D9D9  solid 1px;   }
.container-no-clientTabNavigation .lui-button--toolbar {background: #F0F3F6 ; border: #D9D9D9  solid 1px;   }
.qn-previous-button {background: #F0F3F6 ; border: #D9D9D9  solid 1px;   }
.qn-next-button {background: #F0F3F6 ; border: #D9D9D9  solid 1px;   }





/* CURRENT SELECTIONS*/
div.onTop{background: transparent !important;}
div.qvt-selections.qv-panel-subtoolbar.qv-panel-current-selections.ng-scope.ng-isolate-scope {     border: px #343A40 solid; border-bottom:solid transparent 0px;  border-radius: 0px;   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.qv-panel-current-selections .wrap {    border-bottom: 0px solid #F0F3F6 !important; }
.qv-panel-current-selections .buttons-end .qv-subtoolbar-button, .qv-panel-current-selections .buttons .qv-subtoolbar-button {    background-image: none !important;    border-bottom: 0px solid #6c6b6a;}
.qv-panel-current-selections .buttons {    background: #F0F3F6 !important;}
.qv-panel-current-selections .buttons-end .qv-subtoolbar-button, .qv-panel-current-selections .buttons .qv-subtoolbar-button {    background: #343A40 !important;}
.lui-icon--selection-search .lui-icon--selections-back .lui-icon--selections-forward .lui-icon--clear-selections .lui-icon--selections-tool .lui-icon--analyze .lui-icon--search:before  { color:#343A40!important;   }
.qv-selections-pager, .qv-pager {    border-bottom: solid 0px #F0F3F6 !important;}
.border-bottom {    border-bottom: 0px solid  transparent  !important;}
.border-left {    border-left: 0.5px solid rgba(255, 255, 255, 0.15) !important;}
.qv-pager , .no-selection , .empty-text , div.empty-text.no-selection.borderbox.ng-scope { background: #343A40 !important; border: 0px #F0F3F6 solid; border-bottom:solid transparent 0px;  border-radius: 0px; color: #F0F3F6 !important;  }
.qv-pager {border: 0px transparent solid;      border-bottom:solid transparent 0px;  border-radius: 0px;   box-shadow: 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 rgba(0, 0, 0, 0.23);  }

.values.ng-binding, span.name.ng-binding {color:#F0F3F6!important;}
.buttons.borderbox.border-bottom.border-right, .wrap.borderbox.qv-pager  {   background: #343A40 !important;  border: 0.5px rgba(255, 255, 255, 0.15) solid !important; }




/*
*/



.app-details-content { background:

            linear-gradient(127deg, #F83958, rgba(0,255,0,0) 100%),
     linear-gradient(217deg, #282828, rgba(255,0,0,0) 70.71%),
            linear-gradient(336deg, #F83958, rgba(0,0,255,0) 70.71%)
    !important; }
	
	
	
/*     ___ ___    _   ___ ___ ___ _  _ _____     _   _  _ ___ __  __   _ _____ ___ ___  _  _ 
//    / __| _ \  /_\ |   \_ _| __| \| |_   _|   /_\ | \| |_ _|  \/  | /_\_   _|_ _/ _ \| \| |
//   | (_ |   / / _ \| |) | || _|| .` | | |    / _ \| .` || || |\/| |/ _ \| |  | | (_) | .` |
//    \___|_|_\/_/ \_\___/___|___|_|\_| |_|   /_/ \_\_|\_|___|_|  |_/_/ \_\_| |___\___/|_|\_|
*/                                                                                           
	

.av-content-container.sheet-container {
	width: 100wh;
	height: 90vh;
	background: linear-gradient(-72deg, #F0F3F6, #FDBEC8, #F0F3F6,  #F0F3F6) ;
	background-size: 400% 400%;
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
	animation: Gradient 8s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


	
       
    