@import "../../../../../../styles/variables";

.page-dashboard {
    .metrics {
        margin-top: 50px;

        .metric-box {
            margin-bottom: 15px;
        }

        .metric {
            display: block;
            margin-bottom: 10px;
            font-size: 26px;
            color: theme-color("info");
        }

        .metric-info {
            text-transform: uppercase;
            font-size: 16px;
            color: #aaa;
        }
    }

    .box {
        position: relative;
        border-radius: $border-radius-lg;

        * {
            -webkit-backface-visibility: hidden;
        }

        .box-top,
        .box-bottom {
            height: 100px;
            padding: 32px 15px;
            font-size: 40px;
            line-height: 40px;
            text-align: center;
            font-weight: $display1-weight;

            .size-h5 {
                font-size: 24px;
                margin-left: 2px;
            }

            .material-icons {
                font-size: 40px;
                line-height: 40px;
            }
        }

        .box-bottom {
            border-top: 1px solid rgba(0, 0, 0, .15);

            @media only screen and (min-width: map-get($grid-breakpoints, md)) {
                padding-left: 15%;
                padding-right: 15%;
            }
        }

        .box-info {
            position: absolute;
            width: 100%;
            top: 50%;
            margin-top: -12px;
            text-align: center;

            span {
                height: 24px;
                display: inline-block;
                padding: 4px 10px;
                text-transform: uppercase;
                line-height: 14px;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, .15);
                font-size: 12px;
                color: $text-muted;
                border-radius: 1em;

                .material-icons {
                    line-height: 14px;
                    font-size: 11px;
                }
            }
        }
    }
}

// Dark theme
// --------------------------------------------------
.theme-gray,
.theme-dark {
    .box-info {
        .box-icon {
            .material-icons {
                color: rgba($theme_dark_text_color, .54);
            }
        }

        .box-num {
            color: rgba($theme_dark_text_color, .54);
        }
    }
}

.theme-gray {
    .page-dashboard {
        .box {
            .box-info {
                span {
                    background-color: $theme_gray_page_bg;
                }
            }
        }
    }
}

.theme-dark {
    .page-dashboard {
        .box {
            .box-info {
                span {
                    background-color: $theme_dark_page_bg;
                }
            }
        }
    }
}

.kpi-pads {
    padding: 14px;
}

.selection-pads {
    padding: 0px 14px 10px 14px;
}

.kpi-pads {
    border: 1px #F0F3F6 solid;
    border-bottom: solid transparent 0px;
    border-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.15);
}

.selection-pads {
    border: 1px #F0F3F6 solid;
    border-bottom: solid transparent 0px;
    border-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-left: 0px !important;
    width: 100%;
    min-height: 350px;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.info-icon-class {

    position: relative !important;
    top: 10px !important;
    margin-top: -16px !important;
    right: 0px !important;
}

.no-margin {
    margin: 0px;
}

// flip box

.fimage-title {
    font-family: Segoe UI Semibold;
    position: absolute;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

.flip_fltrin {
    width: 16vh;
    margin-top: 1.5vh;
    margin-right: 5%;
    // float: right;
    position: absolute;
    right: 1%;
}

.flip-box {
    background-color: #fff;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    float: left;
    height: 200px !important;
    margin-top: 37px;
    cursor: pointer;
    margin-right: 1%;
    display: -webkit-box;
}

.flip-box-body {
    position: relative;
    width: 100%;
    height: -webkit-fill-available;
    text-align: center;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-body {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip-box-front {
    background-color: #e6e6e6;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 1px #b3b3b3;
}

.flip-box-back {
    border-radius: 5px;
    background-color: #333333;
    color: white;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.flip-img-front {
    height: 120px;
    width: 94%;
    margin-top: 45px;
}

.flip-span-front {
    position: absolute;
    left: 1vh;
    top: 2vh;
    font-size: 2.4vh;
    font-family: Segoe UI Semibold;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    padding: 0.3vh;
    border: 2px dashed #595959;
    color: #595959 !important;
    text-align: center;
}

.flip-img-back {
    height: 120px;
    width: 94%;
    margin-top: 45px;
    opacity: 0.4;
}

.flip-span-back {
    position: absolute;
    bottom: 4px;
    color: #595959 !important;
    font-size: 15px;
    left: 10px;
    font-family: Segoe UI Semibold;
}

.flip-spantext-back {
    position: absolute;
    // top: 60px;
    height: 170px;
    color: #fff !important;
    font-size: 12px;
    font-family: Segoe UI Semibold;
    display: block;
    overflow: auto;
    padding: 5px;
    padding-top: 5px;
    word-break: break-all;
    width: 100%;
    background-color: #333;
}

.flip-main-box {
    padding: 1.25rem;
    height: 300px;
}

.flip-spantext-back:hover {
    color: #1904c2;
}

.flip-span-back-clickhere {
    font-family: Segoe UI Semibold;
    color: #1e90ff !important;
}

.clickhere-a-tag-back {
    text-decoration: none !important;
    position: absolute;
    right: 35%;
    bottom: 4px;
}

.clickhere-a-tag-front {
    text-decoration: none !important;
    position: relative;
    top: 8px;
}

.flip-span-clickhere-front {
    color: #595959 !important;
    font-family: Segoe UI Semibold;
}

.ficon-class {
    position: absolute;
    top: 2vh;
    border-radius: 4px;
    right: 0vh;
}

.MediaIcon-class {
    position: absolute;
    //top: 2vh;
    bottom: 4px;
    border-radius: 4px;
    right: 1vh;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    top: 40%;
    left: 47%;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #000;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.kpi-trends {
    font-family: Segoe UI Semibold;
    font-size: 14px;

}

// IFrame styles
.iframeBox {
    border: none;
    height: 750px;
    width: 100%;
}



.selection-bar {
    height: "40px";
    margin-left: "-30px";
}

.top-fixed {
    position: fixed;
    display: block;
    width: 100%;
    // width: calc(100% - 122px);
    background: #fff;
    margin-top: -30px;
    margin-left: -30px;
}

.strd-header {
    font-size: 10px;
    font-family: Segoe UI Semibold;
    font-weight: bold;
    color: rgb(34, 45, 92);
}


#salestrends_qv02 {
    margin-top: 6px;
}
#salestrends_qv03 {
    margin-top: 0px;
}
.mr-left-7{
    margin-left: -8%;
}
.kpiSelectionasset {
    font-family: Segoe UI Semibold;
    float: left;
    height: 100%;
    line-height: 3;

    font-size: 10px;
    margin-right: 8px;
}
.font-size-14{
    font-size: 14px !important;
}

.mb15{
    margin-bottom: 15px;
}
.pl0{
    padding-left: 0px;
}
.pr0{
    padding-right: 0px;
}
.pr7{
    padding-right: 7px;
}
.pl7{
    padding-left: 7px;
}
.pd14{
    padding: 0px;
}

.kpiBoxHeight{
    height: 120px;
}

.kpiTitleHeight{
    height: 40px;
}
.kpiDataHeight{
    height: 336px;
}
.whiteColor{
    background-color: white;
}
.backgroundDiv{
    background: white;
    padding: 15px 0px;
    margin: 0;
    margin-bottom: 20px;
    border-radius: 5px;
}