#header-long-menu>div:last-child {
    width: 640px !important;
    top: 65px !important;
}

.brand a:link,
.brand a:visited {
    color: #f83958 !important;
    text-decoration: none !important;
    margin-left: 17px;
    font-weight: 700 !important;
}

// .focus:focus {
//       color: blue !important;
//     }


.date_range {
    height: 26px;
    width: 280px;
    text-Align: center;
    font-Size: 21px;
    margin-top: 12px;
    font-family: IrisCircular-medium !important;
}

.date_range2 {
    height: 26px;
    width: 282px;
    text-Align: center;
    font-Size: 14px;
    float: left;
    font-family: IrisCircular-medium !important;
}

.filters_daterange {
    display: none;
}

.bookmark {
    // top:20px;
    // width:37px;
    cursor: pointer;
    color: grey;
}

.mclass {

    line-height: 1;
    padding: 0px !important;
    font-family: IrisCircular-medium !important;
    cursor: pointer;
    // top:40px !important;
    left: -4vw !important;
    overflow-y: auto;
    display: block;
    border: none !important;
    min-width: 250px !important;
    box-shadow: 1px 1px 3px 2px #868e96 !important;
    border-radius: 0px 0px 2px 2px !important;
}

.mclass li a {
    font-family: IrisCircular-medium !important;
    width: 100%;
}

.clsmenu:hover {
    background-color: white !important;
}


.clsbtn {
    right: 0% !important;
    margin-top: -30px !important;
    margin-right: -30px !important;
    cursor: pointer !important;
    color: #fff !important;
    border: 1px solid #AEAEAE !important;
    border-radius: 30px !important;
    background: #605F61 !important;
    font-size: 31px !important;
    font-weight: bold !important;
    display: inline-block !important;
    line-height: 0px !important;
    padding: 11px 3px !important;

}

.close-icon {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    border-width: 3px;
    border-style: dotted;
    //   border-color:red;
    border-radius: 100%;
    // background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 50%, black 56%,  black 47%,transparent 53%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%);
    // background-color:white;
    //   box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
    right: 0%;
    margin-top: -30px !important;
    margin-right: -30px !important;
}

.filtricon {
    font-size: 26px !important;
    margin-top: 4px;
}

//model css---------------
.expbtn {
    position: absolute;
    opacity: 0;
    width: 40px;
    right: 1px;
    margin-top: 0px
}

//Calendar
#caltitle {
    font-size: 20px;
    font-family: IrisCircular-medium;
    color: #0099ff;
    padding: 15px;
    font-weight: 700;
}

.lftbtn {
    height: 250px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 10px 3px #f0f3f6;
}

.rgtbtn {
    height: 250px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 10px 3px #f0f3f6;
}

.rgtmenu {
    border: 1px solid #f2f2f2;
}

.txtcal {
    font-family: IrisCircular-medium;
    color: #282828;
    padding-left: 20px;
    padding-top: 10px;
}

.height-35 {
    height: 35px;
}

.height-55 {
    height: 55px;
}

.text-align-center {
    text-align: center;
}

.padding-10 {
    padding: 10px;
}

// .bg-color-light{
//     background-color: #000 ;
// }
// .bg-color-light:hover{
//     background-color: #000 ;
// }

.app-sidebar .sidebar-header{
    background-color: white;
}

.searchBarInput{
    text-align: center;
    width: 500px;
    border-radius: 28px;
    height: 30px;
    border: 1px solid #c3bebe;
}
.searchBar{
    padding: 15px;
    display: inline-block;
    margin-left: 30vw;
}

@media only screen and (max-width: 600px) {
    .searchBarInput{
        text-align: center;
        width: 150px;
        border-radius: 28px;
        height: 30px;
        border: none;
    }
    .searchBar{
       
        padding: 15px;
        display: inline-block;
        margin-left: -140px;
        position: absolute;
    }

    .top-nav-right{
        position: fixed;
        top: 0;
        right: 0;
    }
  }

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
  /* Styles */

  .searchBarInput{
    text-align: center;
    width: 150px;
    border-radius: 28px;
    height: 30px;
    border: none;
}
.searchBar{
   
    padding: 15px;
    display: inline-block;
    margin-left: -140px;
    position: absolute;
}

.top-nav-right{
    position: fixed;
    top: 0;
    right: 0;
}
  }
  

// @media only screen and (width: 768px) {
//     .searchBarInput{
//         text-align: center;
//         width: 300px;
//         border-radius: 28px;
//         height: 30px;
//         border: none;
//     }
//     .searchBar{
//         padding: 15px;
//         display: inline-block;
//         margin-left: 10px;
//     }
//   }