.form {
    background-color: #000000d4;
    padding: 1.5em;
   
    border-radius: 1em;
    width: 350px;
    /* box-shadow: 5px 5px 15px 0px #000000; */
    box-shadow: 0px 1px 3px 0px #000000;
    background-image: url(../../../../../assets/images/background.png);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;  
    /* height: 100%;
    background: #013741c7;
    position: absolute;  */

}
.background{
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 0;
    /* background-image: url(../../../../../assets/images/background.png); */
    /* background-color: #3e3d3d; */
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;

}
.error-message {
    margin-top: 1em;
    color: red;
}
.textCustom{
    font-size: 14px;
    color: white;
}
.textAlign{
    text-align: center;
    margin: 10px;
}
.loginLogo{
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: right; */
    /* background-position-y: 0; */
    height: 100px;
    background-image: url(../../../../../assets/images/logo.png);   
}
.invalid{
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.form-group{
    margin: 10px;
}
.dlfLogo{
    height: 60px;
    width: 100px;
}
.dlfLogoDiv{
    box-shadow: 5px 5px 15px 0px #c3c2c2;
    background-color: white;
}
.pl100{
    padding-left: 100px;
}
@media only screen and (max-width: 600px) {
    .pl100{
        padding-left: 0px;
        text-align: center;
    }
  }