

//  .KPI{
//     background-color: #14444c;
//     height: auto;
//     width: 100%; 
//     border-radius: 10px;
//     box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.17);
// }
// .KPIContent{
//     height: 130px;
//     width: 100%;
//     /* padding: 5px; */
//     /* background-color: wheat; */
// }
.DataSection{
    overflow: auto;
    padding: 10px;
    height: 88vh;
    width: 100vw;
    /* background-color: blanchedalmond; */
}
.margin0{
    margin: 0px !important;
}
.padding10{
    padding: 10px;
}
.KpiTitle{
    height: 40px;
}
.KpiData{
    height: 90px;
}
.whiteColor{
    color: white;
}
// .KPITitaleName{
//     font-family: "Proxima Nova", "Arial" !important;
//     color: #97aeb2;
//     padding-top: 15px;
//     font-size: 12px;
//     text-align: left;
// }
.ValueText{
    font-size: 55px;
    color: white;
    font-weight: 700;
    line-height: 1;
}
span > svg {
    font-size: 15px !important;
}
// .customAnchorLink{
//     color: #e6a73f;
//     font-family: "Proxima Nova", "Arial" !important;
//     font-size: 15px;
// }
// .customAnchorLink:hover{
//     color: white; 
// }

.linkRedirect{
    color: white;
    text-decoration: underline #fbd4d7;
    font-family: "Proxima Nova", "Arial" !important;
    font-size: 12px;
}
.RecentDiv{
    line-height: 1;
    flex-direction: column;
    margin-bottom: 3px;
}
.featuredApps{
    font-weight: 300;
    color: #97aeb2;
    font-size: 13px;
}
.featuredApps > svg{
    font-size: 18px;
    margin-top: -3px;

}
.padding15{
    padding: 15px;
}

.AppDataOne{
    border-radius: 10px 0px 0px 10px;
    /* padding: 10px; */
    height: 150px;
    background-color: #000;
    box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.17);
}
.AppDataTwo{
    border-radius: 0px 10px 10px 0px;
    background-color: #fff;
    height: 150px;
    box-shadow: 8px 2px 10px 6px rgba(0, 0, 0, 0.17);
}
.AppName{
    color: white;
    word-break: break-word;
    font-size: 13.5px;
    padding: 10px;
    font-weight: 700;
}
.AppStream{
    text-align: start;
    word-break: break-word;
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 30px;
}
.AppSummary{
height: 150px;
overflow: auto;
}
.OpenApp{
height: 150px;
}
.AppSummaryText{
    height: 84px;
    overflow: hidden;
    padding: 10px;
    font-size: 12px;
    text-align: left;
    /* overflow: auto; */
    /* line-height: 14px; */
    word-break: break-all;
    /* padding-right: 13px; */
    color: #97aeb2;
}
.OpenAppButton{
    font-family: "Proxima Nova", "Arial" !important;
    text-transform: uppercase;
    background-color: #eaeaea;
    color: #0d353c;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    width: 90px;
    height: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 25px;
    bottom: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    touch-action: manipulation;
}

.OpenAppButton:hover{
    background-color: #e4e3e0;
}

.InfoIconDiv{
    color: #666;
    text-align: end;
    padding: 10px;
}
.AppRef{
    // position: absolute;
    z-index: 10;
    right: 10px;
    bottom: 15px;
}
.customWidth{
    min-width: 0px !important;
}
.customWidth:hover{
    background-color: unset !important;
}
.tooltipWidth{
    width: 50px !important;
    word-break: break-all !important;
}

@media only screen and (max-width: 600px) {
    .OpenApp{
        height: 50px;
        }
        .InfoIconDiv{
            display: none;
            width: 40%;
            float: right;
        }  
        .AppDataOne{
            margin-top: 20px;
            border-radius: 10px 10px 0px 0px;
        }  

        .AppDataTwo{
            border-radius: 0px 0px 10px 10px;
        }
  }


 .AppDate{
    color: #97aeb2;
    padding: 10px;
    position: absolute;
    bottom: 0;
    font-size: 10px;
 } 

 