/* .alert {
  background-color: lighten(#ef0936, 15%);
  border-color: lighten(#ef0936, 10%);
  color: darken(#ef0936, 15%);

  width: 100%;
  padding: 15px;
  height: 50px;

}btn

.alert:hover {
  border-bottom: 1px solid #777;
} */
/* css added*/



/* .boxshadowclass{
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
height:50%;
background:#fff;
margin-top:-8%;
margin-left: 10%;
margin-right: 10%;
position:relative;
} */











/* .container {
position: relative;
z-index: 1;
margin: 0 auto;
}
.container:before, .container:after {
content: "";
display: block;
clear: both;
}
.container .info {
margin: 50px auto;
text-align: center;
}
.container .info h1 {
margin: 0 0 15px;
padding: 0;
font-size: 36px;
font-weight: 300;
color: #1a1a1a;
}
.container .info span {
color: #4d4d4d;
font-size: 12px;
}
.container .info span a {
color: #000000;
text-decoration: none;
}
.container .info span .fa {
color: #ef0936;
} */


/* 
input:hover,
.btnfb:hover {
opacity: 1;
} */

/* .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1;
}
  .hr-text:before {
    content: '';
    background: linear-gradient(to right, black, black, black);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: black;
    background-color: #fcfcfa;
  } */

/* .hr-title {
      font-size: 3vh;
      color: #868181;
      background-color: #ffffff;
    } */

/*******************************************************/

.form input {
    font-family: IrisCircular-Medium !important;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
}

.form_labels {
    font-family: IrisCircular-Medium !important;
    font-size: 17px
}

.form button {
    font-family: IrisCircular-Medium;
    text-transform: none;
    outline: 0;
    background: #989898;
    width: 100%;
    border: 0;
    padding: 12px;
    color: #FFFFFF;
    font-size: 2.5vh;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #9f172a;
}

.form .message {
    margin: 3vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    color: #3c3636;
    font-family: IrisCircular-Medium !important;

}

.form .message a {
    color: #3c3636;
    text-decoration: none;
    font-size: 18px;
    font-family: IrisCircular-Medium !important;
}

.form .register-form {
    display: none;
}

.fontclass {
    font-family: IrisCircular-Medium !important;
}

::placeholder {
    color: #7b7a7a !important;
    opacity: 1;
}


input,
.btnfb {
    width: 100%;
    height: 6vh;
    padding: 1vh;
    border: none;
    border-radius: 4px;
    margin-top: 2vh;
    margin: 3vh 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none !important;
    /* remove underline from anchors */
    font-size: 2vh;
}

.border-focus:focus {
    border: 1px solid #868e96 !important;
}

.fb {
    background-color: #3B5998 !important;
    color: white;
    text-decoration: none !important;
}

.btnfb:hover {
    box-shadow: 1px 1px 0 2px #868e9670;
}

.top-header {
    height: 8vh;
    background: #1b57b7;
    font-family: IrisCircular-Medium;
}

.header-img {
    margin-top: 1.5vh;
    height: 5vh;
}

.background-img {
    height: 18vh;
    background: #1b57b7;
}

.loginContainer {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.login-page {
    background: #fff;
    margin-top: -5%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}

.login-page ::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: -5px;
    left: -5px;
    border-top: 5px solid #2172f5;
    border-left: 5px solid #2172f5;
}

.login-page ::after {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-top: 5px solid #2172f5;
    border-right: 5px solid #2172f5;
}

.form {
    height: auto;
    position: relative;
    z-index: 1;
    margin: 35px auto 10px;
    padding: 4px;
    text-align: center;
}

.login-form {
    margin-left: 32%;
    margin-right: 32%;
}

.mr-top {
    margin-top: 2vh;
}

.form-height {
    height: 6vh;
    font-size: 2.5vh;
    background-color: #e2e2e2 !important;
}

.login-btn {
    height: 6vh;
    font-size: 2.5vh;
    color: #fff;
    background-color: #052c69 !important;
}

.login-btn:hover {
    height: 6vh;
    font-size: 2.5vh;
    color: #fff;
    background-color: grey !important;
    cursor: pointer;
}

.login-btn:focus {
    height: 6vh;
    font-size: 2.5vh;
    color: #fff;
    background-color: #1b57b7 !important;
    border: 1px solid #2185d0 !important;
}


.or-line {
    width: 100%;
    height: 2vh;
    border-bottom: 2px solid rgb(153, 151, 151);
    text-align: center;
    margin-top: 1vh;
}

.or-span {
    font-size: 2.5vh;
    background-color: #efefef;
    padding: 0px 1vh;
    font-weight: initial;
    font-family: sans-serif;
    color: #999797;
}

.fb-image {
    height: 6vh;
    border-radius: 4px;
    width: 100%;
    margin-top: 4vh;
}

.text-span {
    color: #000;
    text-align: center;
    font-size: 2vh;
    font-family: IrisCircular-Medium !important;
}

.forgot-span {
    color: #000;
    text-align: center;
    font-size: 2vh;
    font-family: IrisCircular-Medium !important;
    border-bottom: 1px solid #000;
}

.forgot-span:hover {
    color: #000;
    text-decoration: none !important;
    text-align: center;
    font-size: 2vh;
    font-family: IrisCircular-Medium !important;
}

.schedule-span {
    color: #000;
    text-align: center;
    font-size: 1.7vh;
    font-family: IrisCircular-Medium !important;
}

.not-a-user {
    height: 2vh;
    margin-top: 3vh;
}

.info-below {
    height: 2vh;
    margin-top: 3vh;
}

.forgot-pass {
    height: 2vh;
    margin-top: 6vh;
    text-decoration: none !important;
}

.forgot-pass:hover {
    text-decoration: none !important;
    color: white !important;
}

.contact-btn {
    width: 22%;
    margin: 0 auto;
    display: block;
    background-color: #7b7a7a;
    height: 5vh;
    font-size: 2.5vh;
    text-align: center;
    color: #fff;
    font-family: IrisCircular-Medium;
    border: none;
    border-radius: 4px;
    padding: 0px;
    padding-top: 5px !important;

}

.contact-btn:hover {
    color: white !important;
    text-decoration: none !important;
}



.info-btm {
    margin-top: 4vh;
    height: 4vh;
    width: 100vw;
    background-color: #1b57b7;
    vertical-align: middle;
    position: absolute;
    bottom: 0px;
}

.terms-and-condition {
    color: white;
    text-align: center;
    font-size: 2vh;
    margin-bottom: 0px;
    font-family: IrisCircular-Medium !important;
    text-decoration: none !important;
}

.fbclass {
    margin-top: 3vh;
    height: 6vh;
    width: 100%;
    margin-left: 0vh;
}


.Loadable {
    height: auto;
    width: 30%;
    padding: 50px 0px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #7b7a7a;
    border-radius: 4px;
    z-index: 350;
    margin: 10% 35%;
    position: absolute;
}

.frgtpass {
    text-decoration: none !important;
    color: white !important
}

.errormsg {
    font-family: IrisCircular-medium !important;
    font-size: 2vh;
    color: red;
    text-align: center;
}

.headline {
    text-align: left;
    padding-left: 20%;
    color: white;
    font-size: 20px;
    font-family: IrisCircular-BlackItalic;
}



.logo {
    float: left;
    position: absolute;
    left: 50px;
    top: 16px;
    height: 75px;
}

.status-allign {
    display: flex;
    font-family: IrisCircular-medium !important;
    font-size: 2.5vh;
    color: #595959;
}

.statusbtn {
    height: 1rem;
}

.marginLeft {
    margin-left: 3vw !important;
}

.reg-message {
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    font-family: IrisCircular-medium !important;
    font-weight: bold;
}

.submitBtn {
    margin-top: 5%;
}

.mainBox {
    margin: 10%;
    margin-bottom: 0px;
    padding: 15px;
    margin-top: 8%;
}

.invalid-feedback {
    display: block;
}

.height-6vh>input {
    height: 6vh;
}